@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .syntax-keyword { @apply text-[#e9d5ff]; }
  .syntax-string { @apply text-[#c3ecd7]; }
  .syntax-variable { @apply text-[#f3f7ff]; }
  .syntax-function { @apply text-[#FCE7F3]; }
}

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: #11121e; }
::-webkit-scrollbar-thumb { background: #464753; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #e9d5ff; }

body {
  @apply bg-surface font-body text-on-surface overflow-hidden;
}

#root {
  @apply h-screen w-screen flex flex-col;
}
